@{
    ViewData["Title"] = "Ana Syfa";
}

<div class="text-center">
    <h1 class="display-4">Hos geldiniz</h1>
    <p>ASP.NET Hakkinda daha detayli bilgi icin  <a href="https://docs.microsoft.com/aspnet/core">tiklayiniz</a>.</p>
</div>
